<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
      <h3 class="panel-title" id="about-title"><i class="fa fa-fw fa-info-circle"></i> About DAMATS Client</h3>
    </div>
    <div class="modal-body modal-body-about">
      <p>DAMATS project fucusses on temporal analysis of Satellite Image Time Series.</p>
      <p>The client and the related server infractrucure is being developed as an Open Source software by <a href="http://eox.at">
      <i class="fa fa-external-link-square"></i> EOX IT Services GmbH</a>.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
