<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
      <h3 class="panel-title" id="about-title"><i class="fa fa-fw fa-info-circle"></i> About DAMATS Client</h3>
    </div>
    <div class="modal-body modal-body-about">
      <p>
        DAMATS is an ESA/GSTP project focusing on temporal analysis of Satellite Image Time Series.
        The project is lead by <a href="http://terrasigna.com/" target="_blank"><i class="fa fa-external-link-square"></i>&nbsp;TerraSigna</a>.
      </p>
      <p>
        The client and the related server infractrucure is being developed as an Open Source software by
        <a href="http://eox.at" target="_blank"><i class="fa fa-external-link-square"></i>&nbsp;EOX IT Services GmbH</a>.
      </p>
      <p>&nbsp;</p>
      <p><a href="https://github.com/DAMATS/DAMATSClient" target="_blank"><i class="fa fa-external-link-square"></i>&nbsp;DAMATS Client</a> - version {{ version }}</p>
      <p>&copy; 2013-2015 EOX IT Services, GmbH</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
