<div class="input-group">
    <span class="input-group-addon">
        <input type="checkbox" id="rad-source" name="rad-source" value="{{ id }}" {{#if in}}checked="true"{{/if}}>
    </span>
    <span class="form-control"><i class="fa fa-fw fa-image"></i>&nbsp;<strong>{{ id }}</strong><br>start:{{ t0 }} &nbsp;&nbsp; stop: {{ t1 }}</span>
</div>
