<div class="input-group">
    <span class="input-group-addon" id="checkbox">
        {{#if in}}<i class="fa fa-fw fa-check text-success"></i>{{else}}<i class="fa fa-fw fa-times text-danger"></i>{{/if}}
    </span>
    <span class="form-control"><i class="fa fa-fw fa-image"></i>&nbsp;<strong>{{ id }}</strong><br>start:{{ t0 }} &nbsp;&nbsp; stop: {{ t1 }}</span>
</div>
